<nav class='navbar navbar-default navbar-static-top">
    <div class='container-fluid'>
        <div class='navbar-header'>
            <div class='navbar-header'>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    collapse
                </button>        
            </div>
            <div class='collapse navbar-collapse' id='collapseArea-1'>
                <ul>
                    <li><p>three</p></li>
                    <li><p>two</p></li>
                    <li><p>one</p></li>
                </ul>
            </div>
        </div>  
    </div>  
</nav>