<div class='navbar navbar-default navbar-static-top' id='navbarnav'>
        <ul class='nav nav-tabs' id='navlist'>
    		<li><a href="/">Home</a></li>


    		<li><a href="/about">About me</a></li>


    		<li>><a href="/services">Services</a></li>


    		<li <% if (locals.page === 'projects') { %>class='active'<% } %>><a href="/projects">Projects</a></li>


    		<li <% if (locals.page === 'contact') { %>class='active'<% } %>><a href="/contact">Contacts me</a></li>
        </ul>
</div>